body {
  background: #BDBDBD;
}


 #taglineStyle {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
 
 }

#taglineStyle h1 {
  font-size: 8rem; 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#taglineStyle h2 {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}