body {
  background: #BDBDBD;
}
body {
  background: #BDBDBD;
}

#taglineStyle {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 600px;
}

#taglineStyle h1 {
  margin-bottom: 15px;
  font-size: 8rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

#taglineStyle h2 {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

#portaFolio {
  padding: 0px 100px;
}

#conTact{
  padding: 0px 100px;
}

#fooTer{
  padding: 0px 100px
}

hr {
  margin: 17px 100px;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.10;
}