<!-- your html code here -->

<!-- <div class="container"> -->
<div class="bg-white mt-0 mx-0 pt-5 border-top">
    <div class="row">
        <div class="col-md-12">
            <p class="text-start fs-2 fw-bold">Contact.</p>
            <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum deserunt
                consectetur accusantium cum, maiores nobis? Amet ab cupiditate molestiae? Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quibusdam dicta quae cumque commodi, magnam quisquam ipsa reiciendis illum
                quidem explicabo.</p>

        </div>
    </div>
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 ps-5 bg-secondary rounded">
                <div class="row g-3 align-items-center">

                    <div class="col d-flex">
                        <div class="d-inline pt-2 ps-3 pe-0">
                            <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                        </div>
                        <div class="col d-inline p-2">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Your email.com">
                        </div>
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col d-flex">
                        <div class="d-inline pt-2">
                            <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                        </div>
                        <div class="col d-inline p-2">
                            <textarea class="form-control" style="height: 160px;" id="exampleFormControlTextarea1"
                                rows="3" placeholder="Please enter your message here."></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col d-flex justify-content-md-end py-2 pe-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>