<div class="bg-white git psumb-5 mx-0 pt-5 pb-5 border-top" style="padding-top: 15px;">
    <div class="row g-0 bg-white git psumb-5 mx-0 pt-5 pb-5 border-top" style="padding-top: 50px;">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="text-dark">This First Heading</span> <span class="text-secondary">Will Cath Your
                        Eye</span>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam pariatur
                    recusandae obcaecati atque sint laborum vero, repudiandae id alias ut voluptatibus beatae quasi
                    impedit repellat distinctio, modi ratione quam nisi.</p>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="./assets/img/1.jpg" class="rounded-circle w-50" alt="">
        </div>
    </div>
</div>