<!-- your html code here -->

<!-- Inicio Portafolio -->
<div class="container bg-white mb-5">
    <div class="row">
        <p class="text-start fs-2 fw-bold">Portafolio.</p>
        <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum deserunt
            consectetur accusantium cum, maiores nobis? Amet ab cupiditate molestiae? Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Aliquam voluptatem cupiditate illo iusto ducimus aspernatur beatae ipsum
            recusandae nemo ratione.</p>
        <div class="col">
            <div class="row row-cols-1 row-cols-md-3 pe-0">
                <div class="col">
                    <div class="card h-100  border border-0">
                        <img src="https://mediatek-marketing.transforms.svdcdn.com/production/posts/MediaTek-IA-2023.jpg?w=2048&h=1075&q=80&auto=format&fit=crop&dm=1688130337&s=3b56535c28f441a34db9455d64444cb7"
                            class="card-img-top" alt="foto-3">
                        <div class="card-body ps-0">
                            <h5 class="card-title text-start">One Page Wonder</h5>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Similique placeat iusto maiores aspernatur dolores facilis?Lorem ipsum dolor sit amet
                                consectetur.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100  border border-0">
                        <img src="https://mediatek-marketing.transforms.svdcdn.com/production/posts/MediaTek-IA-2023.jpg?w=2048&h=1075&q=80&auto=format&fit=crop&dm=1688130337&s=3b56535c28f441a34db9455d64444cb7"
                            class="card-img-top" alt="foto-3">
                        <div class="card-body ps-0">
                            <h5 class="card-title text-start">One Page Wonder</h5>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Similique placeat iusto maiores aspernatur dolores facilis?Lorem ipsum dolor sit amet
                                consectetur.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100  border border-0">
                        <img src="https://mediatek-marketing.transforms.svdcdn.com/production/posts/MediaTek-IA-2023.jpg?w=2048&h=1075&q=80&auto=format&fit=crop&dm=1688130337&s=3b56535c28f441a34db9455d64444cb7"
                            class="card-img-top" alt="foto-3">
                        <div class="card-body ps-0">
                            <h5 class="card-title text-start">One Page Wonder</h5>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Similique placeat iusto maiores aspernatur dolores facilis?Lorem ipsum dolor sit amet
                                consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Portafolio -->